@charset "UTF-8";

/* ==================== CSS Refactoring Imports ==================== */
@import url("css/variables.css");
@import url("css/core.css");
@import url("css/layout.css");
@import url("css/components.css");
@import url("css/scoreboard.css");
@import url("css/player.css");
@import url("css/animation.css");
@import url("css/admin.css");
